<html>
<head>
   <title>SpeedySplit</title>

   <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
   <link href="css/site.css" rel="stylesheet">
</head>
<body ng-app="speedySplit" ng-controller="SpacePressedController">

   <div class="container">

      <h1>SpeedySplit!</h1>

      <div class="row" ng-controller="SplitTimerController">
         <div class="col-md-4">

            <!-- new split form -->
            <div ng-if="!splits" ng-controller="NewSplitController">
               <div ng-include="'templates/new_split.html'"></div>
            </div>

            <!-- split timer -->
            <div ng-if="splits">
               <table ng-table="tableParams" class="table table-bordered">
                  <tr ng-repeat="split in splits" ng-class="split === currentSplit() ? 'active' : ''">
                     <td data-title="'Name'">{{split.name}}</td>
                     <td data-title="'Current'">{{displayTime(split.currentTime)}}</td>
                     <td data-title="'Previous'">{{displayTime(split.previousTime)}}</td>
                  </tr>
               </table>

               <div class="timer text-center">
                  <timer autostart="false">{{minutes}}:{{seconds}}.{{millis}}</timer>
               </div>
            </div>

         </div>
      </div>

   </div> <!-- container -->

   <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
   <script src="bower_components/ng-table/ng-table.js"></script>
   <script src="bower_components/moment/moment.js"></script>
   <script src="app/app.js"></script>
   <script src="app/services.js"></script>
   <script src="app/controllers.js"></script>
</body>
</html>